# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Electron
dist/
dist-electron/
release/
build/
out/
.cache/

# Editor specific
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Environment variables
.env
